body{
    background-image: url('https://geographical.co.uk/media/k2/items/cache/eb8c0a46c2085216dea7d19f92a60fd7_XL.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height:200vh;
   
}
h2,label{
    color: red;
}
.wrapper{
    width:80%;
    height:auto;
    margin-top: 5vh;
    margin-bottom: 1vh;
    /* background-color: purple; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon{
    font-size: 1.3rem; 
    color:orange;
    

}
input{
    height: 4vh;
}
.search-icon-wrap{
    height: 4vh;
    width: 3%;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

 .btn{
  
    width: 10%;
    height: 5vh;
    margin:auto;
    border-radius: 15px;
    cursor: pointer;
    background-color: orange;
    display: block;
    margin-bottom: 15vh;
    margin-top: 5vh;
   
}
.btn:hover{
    background-color: blue;
}
p{
    color: yellow;
}

@media (max-width:1024px) and (orientation:portrait){
    .search-icon-wrap{
        height: 4.5vh;
        width: 12%;
    }
    input{
        height: 4.6vh;
   
        width:50%;
    }
    .btn{
        width: 30%;
        height: 6vh;
        margin-bottom: 7vh;
        
    }

}

@media (min-width:820px) and (max-width:912px) and (orientation:portrait){
  
    .search-icon-wrap{
        height: 4.5vh;
        width: 10%;
    }
    input{
        height: 4.6vh;
       
        width:50%;
    }
    .btn{
        width: 30%;
        margin-bottom: 7vh;
        font-size: 1.5rem;
        
    }
    .icon{
        font-size: 2rem;
    }
  
}



@media (max-width:1000px) and (orientation:landscape){

    .search-icon-wrap{
        height: 9vh;
        width: 6%;
    }
    input{
        height: 9vh;
        /* background-color: red; */
    

    }
    .btn{
        width: 18%;
        margin-bottom: 20vh;
        height: 12vh;
        font-size: 1rem;
    }

}




@media (min-width:653px) and (max-width:654px) and (orientation:landscape){
  

    .search-icon-wrap{
        height: 12vh;
        width: 6%;
    }
    input{
        height: 12vh;
        /* background-color: red; */
    

    }
    .btn{
        width: 18%;
        margin-bottom: 20vh;
        height: 15vh;
        font-size: 1rem;
    }
}




@media (min-width:1024px) and (max-width:1370px) and (orientation:landscape){
    .btn{
        width:15%;
        height:6vh;
        margin-top: 5vh;
    }
    input{
        height:6vh;
        width: 30%;
        /* background-color: red; */
    }
    .search-icon-wrap{
        height: 6vh;
        width:5%;
       
    }
}
